<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="com.semmle.plugin.qdt.ui.resources">
		<name value="semmlecode-cobol-queries"/>
	</extension>

	<extension point="com.semmle.plugin.qdt.ui.resources">
		<name value="com.semmle.code.cobol.library"/>
	</extension>

	<extension point="com.semmle.plugin.qdt.ui.resources">
		<name value="com.semmle.code.cobol.dbscheme"/>
		<path value="/semmlecode.cobol.dbscheme"/>
	</extension>
</plugin>
